<!doctype html>
<html>

<head>
    <meta charset="utf-8" />
    <title>My web application</title>
    <link rel="shortcut icon" href="https://i.52112.com/icon/jpg/256/20170929/9402/1244398.jpg" type="image/x-icon">
</head>
<!-- 
    document.ejs为UmiJS设定的模板文件，约定存在该文件即以该文件为模板文件
    模板文件必须包含<div id="root"></div>
-->
<body>
    <div id="root"></div>
</body>

</html>